/* CUSTOM PROPERTIES */
/* colors */
:root {
    /* colors */
    --primary-color: #0d253f;
    /* dark-blue */
    --secondary-color: #01b4e4;
    /* light-blue */
    --tertiary-color: #90cea1;
    /* primary colo w/opacity */
    --primary-color-opacity: #0d253f80;

    /* width + height */
    --header-max-height: 55px;
    --header-min-height: 40px;
    --main-mx-width: 1400px;

    /* size + weight */
    --btn-text: 0.75rem;

    --btn-weight: 700;
}

/* R E S E T  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial;
}

body {
    /* display: grid;
    place-items: center; */
    /* width */
    background-color: var(--secondary-color)
}

::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--secondary-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--primary-color-opacity);
    border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color);
}

/*  H E A D E R  */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--header-max-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    font-size: 1.5rem;
    background: var(--primary-color);
    z-index: 1000;
    /* se mantiene por delante de las peliculas */
}

.header-img {
    width: 250px;
    /* fill: var(--secondary-color); */
}

.header-title {
    text-transform: uppercase;
    color: var(--secondary-color);
    letter-spacing: 2px;
}

/* M A I N  */
.container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
    padding: calc(var(--header-max-height) + 1rem) 1rem;
    overflow-x: hidden;
    /* background-color: var(--secondary-color); */
}

/* TARJETA DE PELICULA */
.movie {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    background: var(--primary-color);
    border-radius: 0.5rem;
}

.movie:hover {
    outline: 2px solid var( --tertiary-color);
    scale: 1.03;
    transition-duration: 0.3s;
}

.movie-link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.movie-img {
    max-width: 200px;
    margin: 0.5rem;
}

.movie-title {
    font-size: 0.7rem;
    text-align: center;
    color: var(--secondary-color);
    letter-spacing: 1px;
    text-transform: uppercase;
}


/* B O T O N E R A */
.btn-container {
    width: 100%;
    height: var(--header-max-height);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    padding: 0 2rem;
    font-size: 1.5rem;
    background: var(--primary-color);
}

.btn-container>button {
    display: grid;
    place-items: center;
    margin: 0 10px;
    width: 130px;
    height: 40px;
    border-radius: 30px;
    font-size: var(--btn-text);
    font-weight: var(--btn-weight);
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 2px;
    color: var(--primary-color);
    background: var(--secondary-color);

}

.btn-container>span {
    display: grid;
    place-items: center;
    width: 70px;
    height: 38px;
    color: var(--primary-color);
    background: var(--secondary-color);
    border-radius: 30px;
    font-weight: 500;
}

@media screen and (max-width: 768px) {

    html {
        font-size: 14px;
    }

    .header {
        height: var(--header-min-height);
        padding: 0 0.5rem;
    }

    .header-img {
        display: none;
    }

    .header-title {
    }

    /* M A I N  */
    .container {
        gap: 0.5rem;
        padding: calc(var(--header-min-height) + 0.5rem) 0.5rem calc(var(--header-max-height) + 0.5rem) 0.5rem;
    }

    /* TARJETA DE PELICULA */
    .movie {
        padding: 0.5rem;
    }
}
    
